
/*
	This script and database are to be used only as an aide for doing exercises published on the Wise Owl website.  Neither 
	this script nor the database it generates should be distributed in whole or in part in any format whatsoever without
	the prior written permission of Wise Owl Business Solutions Ltd.  
*/

-- create the database
CREATE DATABASE WorldEvents
GO

-- switch to it
USE WorldEvents
GO

-- create the tables
CREATE TABLE tblCategory (
	CategoryID int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	CategoryName nvarchar(255) NULL
)

GO
CREATE TABLE tblContinent(
	ContinentID int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	ContinentName nvarchar(255) NULL
)

GO
CREATE TABLE tblCountry(
	CountryID int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	CountryName nvarchar(255) NULL,
	ContinentID int NULL
)

GO
CREATE TABLE tblEvent(
	EventID int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	EventName varchar(8000) NULL,
	EventDetails varchar(max) NULL,
	EventDate date NULL,
	CountryID int NULL,
	CategoryID int NULL
) 

GO

-- create one example view
CREATE VIEW vwEvents
AS
SELECT        
	-- country and continent
	cn.ContinentName AS Continent, 
	cy.CountryName AS Country,

	-- events
	ev.EventId,
	ev.EventName, 
	ev.EventDetails, 
	ev.EventDate, 

	-- category
	cat.CategoryName AS Category
FROM            
	tblCountry AS cy
	INNER JOIN tblContinent AS cn ON cy.ContinentID = cn.ContinentID 
	INNER JOIN tblEvent AS ev ON cy.CountryID = ev.CountryID 
	INNER JOIN tblCategory AS cat ON ev.CategoryID = cat.CategoryID


GO

-- add the categories
SET IDENTITY_INSERT tblCategory ON 

GO
INSERT tblCategory (CategoryID, CategoryName) VALUES (1, N'Politics')
GO
INSERT tblCategory (CategoryID, CategoryName) VALUES (2, N'Alien life')
GO
INSERT tblCategory (CategoryID, CategoryName) VALUES (3, N'Exploration')
GO
SET IDENTITY_INSERT tblCategory OFF
GO

-- add the continents
SET IDENTITY_INSERT tblContinent ON 

GO
INSERT tblContinent (ContinentID, ContinentName) VALUES (1, N'Asia')
GO
INSERT tblContinent (ContinentID, ContinentName) VALUES (2, N'Africa')
GO
INSERT tblContinent (ContinentID, ContinentName) VALUES (3, N'Europe')
GO
SET IDENTITY_INSERT tblContinent OFF
GO
SET IDENTITY_INSERT tblCountry ON 

GO

-- add the countries
INSERT tblCountry (CountryID, CountryName, ContinentID) VALUES (1, N'Ukraine', 3)
GO
INSERT tblCountry (CountryID, CountryName, ContinentID) VALUES (2, N'France', 3)
GO
INSERT tblCountry (CountryID, CountryName, ContinentID) VALUES (3, N'Germany', 3)
GO
SET IDENTITY_INSERT tblCountry OFF
GO
SET IDENTITY_INSERT tblEvent ON 

GO

-- add the events
INSERT tblEvent (EventID, EventName, EventDetails, EventDate, CountryID, CategoryID) VALUES (1, N'Chernobyl', N'Reactor 4 at a nuclear power plant in Chernobyl, Ukraine exploded, blowing the 1,000 ton cover off the top of the reactor.', CAST(N'1986-04-26' AS Date), 1, 5)
GO
INSERT tblEvent (EventID, EventName, EventDetails, EventDate, CountryID, CategoryID) VALUES (2, N'Pearl Harbour', N'Japan launched an attack dubbed ‘Operation Z’ on Pearl Harbour, a United States naval base in Hawaii. The U.S. declared war on Japan the following day, bringing them into World War II.', CAST(N'1941-12-07' AS Date), 5, 6)
GO
INSERT tblEvent (EventID, EventName, EventDetails, EventDate, CountryID, CategoryID) VALUES (3, N'World War 1 began', N'Often referred to as The Great War, World War I resulted in the death of over 16 million combatants and civilians. The catalyst that spurred the outbreak of fighting was the assassination of Archduke Franz Ferdinand of Austria-Hungary in June 1914, which took place in Sarajevo on 28th June, a month earlier.', CAST(N'1914-07-28' AS Date), 6, 6)
GO
SET IDENTITY_INSERT tblEvent OFF
GO

---- add 
--ALTER TABLE tblCategory ADD  CONSTRAINT aaaaaCategory_PK PRIMARY KEY NONCLUSTERED 
--(
--	CategoryID ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
--GO
--/****** Object:  Index aaaaaContinent_PK    Script Date: 26/01/2017 10:16:20 ******/
--ALTER TABLE tblContinent ADD  CONSTRAINT aaaaaContinent_PK PRIMARY KEY NONCLUSTERED 
--(
--	ContinentID ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
--GO
--/****** Object:  Index aaaaaCountry_PK    Script Date: 26/01/2017 10:16:20 ******/
--ALTER TABLE tblCountry ADD  CONSTRAINT aaaaaCountry_PK PRIMARY KEY NONCLUSTERED 
--(
--	CountryID ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
--GO
--/****** Object:  Index aaaaaEvent_PK    Script Date: 26/01/2017 10:16:20 ******/
--ALTER TABLE tblEvent ADD  CONSTRAINT aaaaaEvent_PK PRIMARY KEY NONCLUSTERED 
--(
--	EventID ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
--GO

-- add relationships
ALTER TABLE tblCountry  WITH CHECK ADD  CONSTRAINT FK_tblCountry_tblContinent FOREIGN KEY(ContinentID)
REFERENCES tblContinent (ContinentID)
GO
ALTER TABLE tblCountry CHECK CONSTRAINT FK_tblCountry_tblContinent
GO
ALTER TABLE tblEvent  WITH CHECK ADD  CONSTRAINT FK_tblEvent_tblCategory1 FOREIGN KEY(CategoryID)
REFERENCES tblCategory (CategoryID)
GO
ALTER TABLE tblEvent CHECK CONSTRAINT FK_tblEvent_tblCategory1
GO
ALTER TABLE tblEvent  WITH CHECK ADD  CONSTRAINT FK_tblEvent_tblCountry FOREIGN KEY(CountryID)
REFERENCES tblCountry (CountryID)
GO
ALTER TABLE tblEvent CHECK CONSTRAINT FK_tblEvent_tblCountry
GO

-- add a column to the continent table
ALTER TABLE tblContinent
	ADD Summary varchar(100)
GO

-- set some (but not all) values
UPDATE tblContinent SET Summary = 'Big' WHERE ContinentID = 1
UPDATE tblContinent SET Summary = 'Biggish' WHERE ContinentID = 2
UPDATE tblContinent SET Summary = 'Home' WHERE ContinentID = 3
UPDATE tblContinent SET Summary = 'Lots of trees' WHERE ContinentID = 5
UPDATE tblContinent SET Summary = 'Full of penguins' WHERE ContinentID = 7


----- SIMPLE QUERIES -----

/*
Create a query to list out the following columns from the tblEvent table, with the most recent first (for which you'll need to use an ORDER BY clause):
The event name
The event date
*/

SELECT EventName, EventDate
FROM tblEvent
ORDER BY EventDate DESC
;

/*
Write a query to show the first 5 events (in date order) from the tblEvent table, There are a few things to notice about this:
You should give the columns aliases (What and Details in this case);
Use SELECT TOP 5 to limit the results to 5 rows;
Even though you're sorting by the event date, it doesn't have to be included in your results.
*/

SELECT TOP 5 EventName AS What, EventDetails AS Details
FROM tblEvent
ORDER BY EventDate
;

/*
Create a query to list out the id number and name of the last 3 categories from the tblCategory table in alphabetical order:
*/

SELECT TOP 3 *
FROM tblCategory
ORDER BY CategoryName DESC
;

/*
Create a query which uses two separate SELECT statements to show the first and last 2 events in date order from the tblEvent table:
*/

SELECT TOP 2 EventName AS What, EventDate AS 'When'
FROM tblEvent
ORDER BY EventDate
;

SELECT TOP 2 EventName AS What, EventDate AS 'When'
FROM tblEvent
ORDER BY EventDate DESC
;


----- SETTING CRITERIA USING WHERE -----

/*
Write a query to list out all of the events from the tblEvent table in category number 11 (which corresponds to Love and Relationships, as it happens):
*/

SELECT EventName, EventDate
FROM tblEvent
WHERE CategoryID = 11
;

/*
First show a list of all events which might have something to do water.  The Wise Owl interpretation of this is that one or more of the following is true:

They take place in one of the island countries (8, 22, 30 and 35, corresponding to Japan, the Marshall Islands, Cuba and Sri Lanka respectively)
Their EventDetails column contains the word Water (not the text Water, but the word)
Their category is number 4 (Natural World)
This should return 11 rows.  Now add a criterion to show only those events which happened since 1970 (you may need to use parentheses to get this to give the correct answer).
*/

SELECT *
FROM tblEvent
WHERE (CountryID IN (8,22,30,35) OR 
		CategoryID = 4 OR 
		EventDetails LIKE '% Water %')  AND
		YEAR(EventDate) > 1970
;


/*
Create a query which lists out all of the events which took place in February 2005:
*/

SELECT 
FROM tblEvent
WHERE YEAR(EventDate) = 2005 AND MONTH(EventDate) = 2
;

/*
Events which aren't in the Transport category (number 14), but which nevertheless include the text Train in the EventDetails column.
*/

SELECT *
FROM tblEvent
WHERE CategoryID != 14 AND EventDetails LIKE '%train%'
;

/*
Events which are in the Space country (number 13), but which don't mention Space in either the event name or the event details columns.
*/

SELECT *
FROM tblEvent
WHERE CountryID = 13 AND EventName NOT LIKE '%space%' AND EventDetails NOT LIKE '%space%'
;

/*
Events which are in categories 5 or 6 (War/conflict and Death/disaster), but which don't mention either War or Death in the EventDetails column.
*/

SELECT *
FROM tblEvent
WHERE CategoryID IN (5,6) AND EventDetails NOT LIKE '%war%' AND EventDetails NOT LIKE '%death%'
;

/*
Create a query which lists out all of the tblEvent events which include the word Teletubbies:
*/

SELECT *
FROM tblEvent
WHERE EventName LIKE '%Teletubbies%'
;

/*
Now add an OR condition to your query so that it lists out all events whose:

Name includes Teletubbies; or
Name includes Pandy.
*/

SELECT *
FROM tblEvent
WHERE EventName LIKE '%Teletubbies%' OR EventName LIKE '%Pandy%'
;