
/*
	This script and database are to be used only as an aide for doing exercises published on the Wise Owl website.  Neither 
	this script nor the database it generates should be distributed in whole or in part in any format whatsoever without
	the prior written permission of Wise Owl Business Solutions Ltd.  
*/

-- create the database
CREATE DATABASE WorldEvents
GO

-- switch to it
USE WorldEvents
GO

-- create the tables
CREATE TABLE tblCategory (
	CategoryID int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	CategoryName nvarchar(255) NULL
)

GO
CREATE TABLE tblContinent(
	ContinentID int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	ContinentName nvarchar(255) NULL
)

GO
CREATE TABLE tblCountry(
	CountryID int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	CountryName nvarchar(255) NULL,
	ContinentID int NULL
)

GO
CREATE TABLE tblEvent(
	EventID int IDENTITY(1,1) NOT NULL PRIMARY KEY,
	EventName varchar(8000) NULL,
	EventDetails varchar(max) NULL,
	EventDate date NULL,
	CountryID int NULL,
	CategoryID int NULL
) 

GO

-- create one example view
CREATE VIEW vwEvents
AS
SELECT        
	-- country and continent
	cn.ContinentName AS Continent, 
	cy.CountryName AS Country,

	-- events
	ev.EventId,
	ev.EventName, 
	ev.EventDetails, 
	ev.EventDate, 

	-- category
	cat.CategoryName AS Category
FROM            
	tblCountry AS cy
	INNER JOIN tblContinent AS cn ON cy.ContinentID = cn.ContinentID 
	INNER JOIN tblEvent AS ev ON cy.CountryID = ev.CountryID 
	INNER JOIN tblCategory AS cat ON ev.CategoryID = cat.CategoryID


GO

-- add the categories
SET IDENTITY_INSERT tblCategory ON 

GO
INSERT tblCategory (CategoryID, CategoryName) VALUES (1, N'Politics')
GO
INSERT tblCategory (CategoryID, CategoryName) VALUES (2, N'Alien life')
GO
INSERT tblCategory (CategoryID, CategoryName) VALUES (3, N'Exploration')
GO
SET IDENTITY_INSERT tblCategory OFF
GO

-- add the continents
SET IDENTITY_INSERT tblContinent ON 

GO
INSERT tblContinent (ContinentID, ContinentName) VALUES (1, N'Asia')
GO
INSERT tblContinent (ContinentID, ContinentName) VALUES (2, N'Africa')
GO
INSERT tblContinent (ContinentID, ContinentName) VALUES (3, N'Europe')
GO
SET IDENTITY_INSERT tblContinent OFF
GO
SET IDENTITY_INSERT tblCountry ON 

GO

-- add the countries
INSERT tblCountry (CountryID, CountryName, ContinentID) VALUES (1, N'Ukraine', 3)
GO
INSERT tblCountry (CountryID, CountryName, ContinentID) VALUES (2, N'France', 3)
GO
INSERT tblCountry (CountryID, CountryName, ContinentID) VALUES (3, N'Germany', 3)
GO
SET IDENTITY_INSERT tblCountry OFF
GO
SET IDENTITY_INSERT tblEvent ON 

GO

-- add the events
INSERT tblEvent (EventID, EventName, EventDetails, EventDate, CountryID, CategoryID) VALUES (1, N'Chernobyl', N'Reactor 4 at a nuclear power plant in Chernobyl, Ukraine exploded, blowing the 1,000 ton cover off the top of the reactor.', CAST(N'1986-04-26' AS Date), 1, 5)
GO
INSERT tblEvent (EventID, EventName, EventDetails, EventDate, CountryID, CategoryID) VALUES (2, N'Pearl Harbour', N'Japan launched an attack dubbed ‘Operation Z’ on Pearl Harbour, a United States naval base in Hawaii. The U.S. declared war on Japan the following day, bringing them into World War II.', CAST(N'1941-12-07' AS Date), 5, 6)
GO
INSERT tblEvent (EventID, EventName, EventDetails, EventDate, CountryID, CategoryID) VALUES (3, N'World War 1 began', N'Often referred to as The Great War, World War I resulted in the death of over 16 million combatants and civilians. The catalyst that spurred the outbreak of fighting was the assassination of Archduke Franz Ferdinand of Austria-Hungary in June 1914, which took place in Sarajevo on 28th June, a month earlier.', CAST(N'1914-07-28' AS Date), 6, 6)
GO
SET IDENTITY_INSERT tblEvent OFF
GO

---- add 
--ALTER TABLE tblCategory ADD  CONSTRAINT aaaaaCategory_PK PRIMARY KEY NONCLUSTERED 
--(
--	CategoryID ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
--GO
--/****** Object:  Index aaaaaContinent_PK    Script Date: 26/01/2017 10:16:20 ******/
--ALTER TABLE tblContinent ADD  CONSTRAINT aaaaaContinent_PK PRIMARY KEY NONCLUSTERED 
--(
--	ContinentID ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
--GO
--/****** Object:  Index aaaaaCountry_PK    Script Date: 26/01/2017 10:16:20 ******/
--ALTER TABLE tblCountry ADD  CONSTRAINT aaaaaCountry_PK PRIMARY KEY NONCLUSTERED 
--(
--	CountryID ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
--GO
--/****** Object:  Index aaaaaEvent_PK    Script Date: 26/01/2017 10:16:20 ******/
--ALTER TABLE tblEvent ADD  CONSTRAINT aaaaaEvent_PK PRIMARY KEY NONCLUSTERED 
--(
--	EventID ASC
--)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
--GO

-- add relationships
ALTER TABLE tblCountry  WITH CHECK ADD  CONSTRAINT FK_tblCountry_tblContinent FOREIGN KEY(ContinentID)
REFERENCES tblContinent (ContinentID)
GO
ALTER TABLE tblCountry CHECK CONSTRAINT FK_tblCountry_tblContinent
GO
ALTER TABLE tblEvent  WITH CHECK ADD  CONSTRAINT FK_tblEvent_tblCategory1 FOREIGN KEY(CategoryID)
REFERENCES tblCategory (CategoryID)
GO
ALTER TABLE tblEvent CHECK CONSTRAINT FK_tblEvent_tblCategory1
GO
ALTER TABLE tblEvent  WITH CHECK ADD  CONSTRAINT FK_tblEvent_tblCountry FOREIGN KEY(CountryID)
REFERENCES tblCountry (CountryID)
GO
ALTER TABLE tblEvent CHECK CONSTRAINT FK_tblEvent_tblCountry
GO

-- add a column to the continent table
ALTER TABLE tblContinent
	ADD Summary varchar(100)
GO

-- set some (but not all) values
UPDATE tblContinent SET Summary = 'Big' WHERE ContinentID = 1
UPDATE tblContinent SET Summary = 'Biggish' WHERE ContinentID = 2
UPDATE tblContinent SET Summary = 'Home' WHERE ContinentID = 3
UPDATE tblContinent SET Summary = 'Lots of trees' WHERE ContinentID = 5
UPDATE tblContinent SET Summary = 'Full of penguins' WHERE ContinentID = 7

----- CALCULATIONS -----

/*
Create a query listing out each event with the length of its name, with the "shortest event" first:
*/

SELECT EventName, LEN(EventName)
FROM tblEvent
ORDER BY LEN(EventName)
;

USE WorldEvents
GO

CREATE TABLE CountriesByArea(
	Position int NOT NULL PRIMARY KEY,
	Country nvarchar(255) NULL,
	KmSquared bigint NULL)

GO
INSERT CountriesByArea (Position, Country, KmSquared) VALUES (1, N'Russia', 17098246)
GO
INSERT CountriesByArea (Position, Country, KmSquared) VALUES (2, N'Canada', 9984670)
GO
INSERT CountriesByArea (Position, Country, KmSquared) VALUES (3, N'China', 9572900)
GO

-- show results
SELECT * FROM CountriesByArea

/*
It's traditional to express a country's size in terms of how many times you could fit Wales into it - so let's do this!  First create the following columns in a query:

Column			What it should show

AreaLeftOver	The remainder when you divide a country's area by the area of Wales

WalesUnits		The number of exact times that the area of Wales divides a country's area, once you've subtracted the area left over as calculated above

You'll need to know that Wales is 20,761 square kilometres in area!

Now extend your query to show a text description of how many times each country could accommodate Wales
*/

SELECT Country, KmSquared, KmSquared / 20761 AS WalesUnits, KmSquared % 20761 AS AreaLeftOver,
CASE 
            WHEN 
                      CAST(ROUND((KmSquared/20761), 0) as varchar(10)) < 1 
            THEN 
                      'Smaller than Wales'
            ELSE 
                      CAST(ROUND((KmSquared/20761), 0) as VARCHAR(10)) +  ' x '  +  ' Wales plus ' + 
                      CAST( (KmSquared % 20761) as VARCHAR(10)) + ' sq. km.' 
             END as 'Wales Comparison'
FROM CountriesByArea
ORDER BY Country
;

/*
Create a query to list out for each event the category number that it belongs to
*/

SELECT EventName + ' (Category ' + TRIM(CAST(CategoryID AS CHAR)) + ')' AS 'Event (Category)' 
FROM tblEvent
;

/*
The aim of this exercise is to find this and that in the EventDetails column (in that order).
*/

SELECT EventName, CHARINDEX('this', EventDetails) AS thisPosition, 
		CHARINDEX('that', EventDetails) AS thatPosition,
		ABS(CHARINDEX('that', EventDetails) - CHARINDEX('this', EventDetails)) AS offset
FROM tblEvent
WHERE CHARINDEX('this', EventDetails) > 0 AND CHARINDEX('that', EventDetails) > 0
;

/*
See if you can write a query to list out all of the non-boring events. 
A boring event is one which doesn't begin and end with the same letter, and which doesn't begin and end with a vowel!
*/

WITH temp_table (EventName, Verdict) AS (
SELECT EventName,
CASE
	WHEN
		LOWER(LEFT(EventName,1)) = RIGHT(EventName,1)
	THEN
		'Same Letter'
	WHEN 
		(LOWER(LEFT(EventName,1)) IN ('a','e','i','o','u') AND LOWER(RIGHT(EventName,1)) IN ('a','e','i','o','u'))
	THEN
		'Begins and ends with vowel'
	END AS Verdict
FROM tblEvent
)
SELECT *
FROM temp_table
WHERE Verdict IS NOT NULL
;

/*
Write a query to divide countries into these groups:

Continent id	Belongs to		Actual continent (for interest)
1 or 3			Eurasia			Europe or Asia
5 or 6			Americas		North and South America
2 or 4			Somewhere hot	Africa and Australasia
7				Somewhere cold	Antarctica
Otherwise		Somewhere else	International

*/

SELECT CountryName, 
CASE
	WHEN
		CountryID IN (1,3)
	THEN
		'Eurasia'
	WHEN
		CountryID IN (5,6)
	THEN
		'Americas'
	WHEN
		CountryID IN (2,4)
	THEN
		'Somewhere Hot'
	WHEN
		CountryID = 7
	THEN
		'Somewhere Cold'
	ELSE
		'Somewhere Else'
	END AS CountryLocation
FROM tblCountry
ORDER BY CountryLocation DESC
;